<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro/Login</title>
</head>
<body>
    <h1>Cadastro / Login</h1>

    <div id="mensagem" style="color: red; margin-bottom: 1em;"></div>

    <form id="formLoginCadastro">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required /><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required /><br><br>

        <label>
            <input type="radio" name="acao" value="cadastro" checked /> Cadastro
        </label>
        <label>
            <input type="radio" name="acao" value="login" /> Login
        </label><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
